@model List<StudentModelRecords>

<h3>
    Students
</h3>

<form asp-controller="Students" asp-action="StudentIndex" method="get" class="form-inline mt-2">
    <div class="form-group mr-2">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search by First Name or Last Name" value="@ViewBag.Search" />
        <br/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br/>

<a asp-controller="Students" asp-action="AddPage" class="btn btn-success">
    Add Students
</a>
<br/>
<br/>

<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentModelRecords s in Model)
        {
            <tr>
                <td>@s.StudentID</td>
                <td>@s.Firstname</td>
                <td>@s.Lastname</td>
                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@s.StudentID" method="post" class="d-inline">
                        <button type="submit" class="btn btn-info btn-sm">
                            Edit Record
                        </button>
                    </a>
                    <form asp-controller="Students" asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" id="StudentID" Name="StudentID" value="@s.StudentID" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete Record
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


   